
body {
    font-family: 'Heebo', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 35, 35);
    color: white
}

header {
    width: 60vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 150px;
    height: 150px;
}

a {
    color: white;
    text-decoration: none;
    margin-bottom: 5rem;
}

li {
    display: flex;
    flex-direction: column;
    align-items: center;
}